@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 20px;
  letter-spacing: 1px;
  background: #191919;
  color: #ccc;
}
.count {
  font-size: 100px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 100px;
}

td {
  
  padding: 2px 15px;
  border: 0;
  border-left: 3px dotted white;
}

button {
  padding: 5px 15px;
  
  margin: 5px;
  border: 0;
}